{% extends "faculty/base.html" %}

{% block content %}

    <h1>{{ department.name }}</h1>

    <h2>Завідувач кафедри</h2>
    <p>{{ department.head.name }}</p>

    <h3>Спеціальності</h3>
    <ul>
        {% for program in department.major_set.all %}
            <li>{{ program.code }} {{ program.name }}</li>
        {% endfor %}
    </ul>

    <h3>Викладачі</h3>
    <ul>
        {% for professor in department.professors.all %}
            <li>
                <p>{{ professor.name }}</p>
                <p>{{ professor.position }} | {{ professor.degree }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
