<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    {% load static %}
</head>
<body>
{% for department in departments %}
    <div>
        <p>{{ department.name }}</p>
        <p>Завідувач: {{ department.head.name }}</p>
        <p>Спеціальності:</p>
        <ul>
            {% for major in department.major_set.all %}
                <li><a href="../programs/{{ major.id }}">{{ major.code }} {{ major.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
</body>
</html>
